// $body-bg: #bdbd21;

$primary: #000046;
$secondary: #220636;
$danger: #dd0000;
$success: rgb(0, 70, 0);
$warning: rgb(121, 80, 4);
$info: rgb(0, 104, 104);

$blue: blue;
$indigo: indigo;
$purple: #800080;
$pink: pink;
$red: red;
$orange: orange;
$yellow: yellow;
$green: green;
$teal: teal;
$cyan: cyan;
$white: white;
$gray: gray;
$gray-dark: darkslategray;

$colors: (
  "blue": $blue,
  "indigo": $indigo,
  "purple": $purple,
  "pink": $pink,
  "red": $red,
  "orange": $orange,
  "yellow": $yellow,
  "green": $green,
  "teal": $teal,
  "cyan": $cyan,
  "white": $white,
  "gray": $gray,
  "gray-dark": $gray-dark,
) !default;
